section {
    margin: 2.625em 0;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label {
    width: 100%;
    margin: 0;
}

input[type=checkbox]:checked + label > *:first-child {
    display: none;
}

input[type=checkbox]:checked + label > *:nth-child(2) {
    display: block;
}

input[type=checkbox] + label > *:nth-child(2) {
    display: none;
}

.button, button {
    border-radius: 2.625em;
    width: 80%;
    margin: 0 10%;
}